@charset "utf-8";
/* font_color */
.redF{color:#e12222 !important;}

/* margin + padding */
.mt0 {margin-top:0px !important;}   .mb0 {margin-bottom:0 !important;} 
.mt5 {margin-top:5px !important;}   .mb5 {margin-bottom:5px !important;}
.mt10 {margin-top:10px !important;}	.mb10 {margin-bottom:10px !important;}	.mtm10 {margin-top:-10px !important;}
.mt20 {margin-top:20px !important;}	.mb20 {margin-bottom:20px !important;}	.mtm20 {margin-top:-20px !important;}
.mt30 {margin-top:30px !important;}	.mb30 {margin-bottom:30px !important;}	.mtm30 {margin-top:-30px !important;}
.mt40 {margin-top:40px !important;}	.mb40 {margin-bottom:40px !important;}	.mtm40 {margin-top:-40px !important;}
.mt50 {margin-top:50px !important;}	.mb50 {margin-bottom:50px !important;}	.mtm50 {margin-top:-50px !important;}

.ml5 {margin-left:5px !important;}	    .mr5 {margin-right:5px !important;}			
.ml10 {margin-left:10px !important;}	.mr10 {margin-right:10px !important;}
.ml20 {margin-left:20px !important;}	.mr20 {margin-right:20px !important;}
.ml30 {margin-left:30px !important;}	.mr30 {margin-right:30px !important;}
.ml40 {margin-left:40px !important;}	.mr40 {margin-right:40px !important;}
.ml50 {margin-left:50px !important;}	.mr50 {margin-right:50px !important;}
.ml0 {margin-left:0 !important;}		.mr0 {margin-right:0 !important;}	

.pt0 {padding-top:0px !important;}      .pb0 {padding-bottom:0 !important;} 
.pt5 {padding-top:5px !important;}      .pb5 {padding-bottom:5px !important;}
.pt10 {padding-top:10px !important;}	.pb10 {padding-bottom:10px !important;}	.ptm10 {padding-top:-10px !important;}
.pt20 {padding-top:20px !important;}	.pb20 {padding-bottom:20px !important;}	.ptm20 {padding-top:-20px !important;}
.pt30 {padding-top:30px !important;}	.pb30 {padding-bottom:30px !important;}	.ptm30 {padding-top:-30px !important;}
.pt40 {padding-top:40px !important;}	.pb40 {padding-bottom:40px !important;}	.ptm40 {padding-top:-40px !important;}
.pt50 {padding-top:50px !important;}	.pb50 {padding-bottom:50px !important;}	.ptm50 {padding-top:-50px !important;}

.pl5 {padding-left:5px !important;}	    .pr5 {padding-right:5px !important;}			
.pl10 {padding-left:10px !important;}	.pr10 {padding-right:10px !important;}
.pl20 {padding-left:20px !important;}	.pr20 {padding-right:20px !important;}
.pl30 {padding-left:30px !important;}	.pr30 {padding-right:30px !important;}
.pl40 {padding-left:40px !important;}	.pr40 {padding-right:40px !important;}
.pl50 {padding-left:50px !important;}	.pr50 {padding-right:50px !important;}

.alignC {text-align:center;}
.alignL {text-align:left;}
.alignR {text-align:right;}

.floatL {float:left;}
.floatR {float:right;}

/* login */
#wrap {background:#f1f1f1;height:100%;min-width:1280px;min-height:1100px;}
#wrap.login .top {width:100%;text-align:center;border-bottom:1px solid #bdc0c6;background:#fff;}

.loginWrap {background:#f1f1f1;width:100%;}
.centerBox {width:410px;margin:0 auto;box-sizing:border-box;padding:20px;border:1px solid #bdc0c6;margin-bottom:170px;}
.enter {background:#fff;padding:15px;margin-bottom:15px;box-sizing:border-box;}
.loginTit {font-size:17px;color:#333;padding:45px 0;text-align:center;} 
.loginFoot {width:100%;padding:20px 0;text-align:center;border-top:1px solid #bdc0c6;}
.centerBox table {width:100%;}  
.centerBox td {padding:5px 0;font-size:15px;}
.centerBox td input {background:#fbfbfb;width:338px;border:1px solid #e1e1e1;padding:10px;box-sizing:border-box;}
.loginBtn {display:block;padding:10px 0; text-align:center;color:#fff;width:100%;background:#2c8fb6;margin-top:20px;}
.errorP {font-size:13px;color:#e54d4d;margin:5px 0;}


/* 愿�由ъ옄�럹�씠吏� */
.header {width:100%;background:#344147;}
.header:after{ content:''; display:block; clear:both; } 
.header .header_right {float:right;}
.header .header_right a {float:right;display:block;background:#47545a;}
.header .header_right ul {float:left;padding:10px 25px 0 0}
.header .header_right ul li {color:#fff;font-size:13px;}
.header .header_right ul li span {color:#f3edbb;font-weight:bold;}
.header .header_right ul li + li {color:#fff;font-size:12px;}

/* �젅�씠�븘�썐怨듯넻 */
#container{width:100%;position:relative;background:#fff;}
.contents {width:auto;min-height:1000px;margin-left:220px;padding:45px 15px;}

#container .lnb {width:200px !important;position:absolute; top:0; left:0; height:100%; border-right:1px solid #ededed;border-left:1px solid #ededed;}
#container .lnb > ul > li  {border-bottom:1px solid #dbdbdb;background:url('../images/plus_icon.gif') no-repeat 90% 25px;}
#container .lnb > ul > li.on  {border-bottom:1px solid #dbdbdb;background:url('../images/mi_icon.gif') no-repeat 90% 25px;}
#container .lnb > ul > li.menu_1 {background:none;}
#container .lnb > ul > li.menu_1 > a {background:url('../images/lnb_icon_1_off.gif') no-repeat 15px 50%;}
#container .lnb > ul > li.menu_2 > a {background:url('../images/lnb_icon_2_off.gif') no-repeat 15px 50%;}
#container .lnb > ul > li.menu_3 > a {background:url('../images/lnb_icon_3_off.gif') no-repeat 15px 50%;}
#container .lnb > ul > li.menu_4 > a {background:url('../images/lnb_icon_4_off.gif') no-repeat 15px 50%;}
#container .lnb > ul > li.menu_5 > a {background:url('../images/lnb_icon_5_off.gif') no-repeat 15px 50%;}
#container .lnb > ul > li.menu_1.active > a {background:url('../images/lnb_icon_1_on.gif') no-repeat 15px 50%;}
#container .lnb > ul > li.menu_2.active > a {background:url('../images/lnb_icon_2_on.gif') no-repeat 15px 50%;}
#container .lnb > ul > li.menu_3.active > a {background:url('../images/lnb_icon_3_on.gif') no-repeat 15px 50%;}
#container .lnb > ul > li.menu_4.active > a {background:url('../images/lnb_icon_4_on.gif') no-repeat 15px 50%;}  
#container .lnb > ul > li.menu_5.active > a {background:url('../images/lnb_icon_5_on.gif') no-repeat 15px 50%;}

#container .lnb > ul > li.menu_1 > a:hover {background:url('../images/lnb_icon_1_on.gif') no-repeat 15px 50%;}
#container .lnb > ul > li.menu_2 > a:hover {background:url('../images/lnb_icon_2_on.gif') no-repeat 15px 50%;}
#container .lnb > ul > li.menu_3 > a:hover {background:url('../images/lnb_icon_3_on.gif') no-repeat 15px 50%;}
#container .lnb > ul > li.menu_4 > a:hover {background:url('../images/lnb_icon_4_on.gif') no-repeat 15px 50%;}  
#container .lnb > ul > li.menu_5 > a:hover {background:url('../images/lnb_icon_5_on.gif') no-repeat 15px 50%;}

#container .lnb.devel > ul > li {border-bottom:1px solid #dbdbdb;background:url('../images/plus_icon.gif') no-repeat 90% 25px;}
#container .lnb.devel > ul > li.on {border-bottom:1px solid #dbdbdb;background:url('../images/mi_icon.gif') no-repeat 90% 25px;}
#container .lnb.devel > ul > li.menu_1 > a {background:none;}
#container .lnb.devel > ul > li.menu_2 > a {background:none;}
#container .lnb.devel > ul > li.menu_3 > a {background:none;}
#container .lnb.devel > ul > li.menu_4 > a {background:none;}
#container .lnb.devel > ul > li.menu_5 > a {background:none;}
#container .lnb.devel > ul > li.menu_1.active > a {background:none;}
#container .lnb.devel > ul > li.menu_2.active > a {background:none;}
#container .lnb.devel > ul > li.menu_3.active > a {background:none;}
#container .lnb.devel > ul > li.menu_4.active > a {background:none;}  
#container .lnb.devel > ul > li.menu_5.active > a {background:none;}

#container .lnb.deve > ul > li.menu_1 > a:hover {background:none;}
#container .lnb.deve > ul > li.menu_2 > a:hover {background:none;}
#container .lnb.deve > ul > li.menu_3 > a:hover {background:none;}
#container .lnb.deve > ul > li.menu_4 > a:hover {background:none;}  
#container .lnb.deve > ul > li.menu_5 > a:hover {background:none;}

#container .lnb ul li a:hover {color:#2c8fb6;} 
#container .lnb > ul > li > a{display:block;padding:25px 0 25px 35px;color:#000;font-size:14px;line-height:14px; font-weight:bold;}
#container .lnb > ul > li.active > a {color:#2c8fb6;}
#container .lnb > ul > li.active ul {display:block !important;}
#container .lnb > ul > li > ul {background:#f9f9f9;display:none;}
#container .lnb > ul > li > ul > li {border-top:1px solid #dbdbdb;}
#container .lnb > ul > li > ul > li > a.on {background:url('../images/arrow_icon.gif') no-repeat 90% 50%;color:#2c8fb6;}
#container .lnb > ul > li > ul > li a {display:block;font-size:12px;display:block;color:#000;padding:15px 0 15px 25px;}

.contents h3 {padding-bottom:20px;margin-bottom:20px;border-bottom:2px solid #000;}


.leftBlock {float:left;width:48%;}
.rightBlock {float:right;width:48%;}
.con {padding:10px;box-sizing:border-box;border:1px solid #e1e1e1;}
.con ul li {float:left;margin-right:10px;font-size:22px;font-weight:bold;color:#000;}
.con ul li span {color:#999;font-size:14px;display:block;margin-bottom:0;}


.bottomBlock .con {padding:10px;box-sizing:border-box;border:1px solid #e1e1e1;}
.bottomBlock .con .border {border-bottom:1px solid #e1e1e1;}
.bottomBlock .con ul li {float:left;margin-right:10px;padding:15px 0; vertical-align: middle; font-size:30px;font-weight:bold;color:#000;text-align: center;width:24%;}
.bottomBlock .con ul li span {color:#999;font-size:18px;display:block;margin-bottom:0;}
.bottomBlock .con ul li span.firstSpan {font-size:30px;font-weight:bold;color:#000;padding-top:10px;} 

/* list */
.listSelector {text-align:right;margin-bottom:10px;}
.listSelector select {vertical-align:top;}
.listSelector.pushtype select {vertical-align:middle;}
/* BOXTYPE */

.conGbox {text-align:center;background:#f7f7f7;padding:20px 20px 30px;box-sizing:border-box;border-left:none;border-right:none;border-top:2px solid #d9d9d9;border-bottom:2px solid #d9d9d9;margin-bottom:25px;}
.conGbox.seType01 {text-align:center;background:#f7f7f7;padding:22px 0;box-sizing:border-box;border-left:none;border-right:none;border-top:2px solid #d9d9d9;border-bottom:2px solid #d9d9d9;margin-bottom:25px;}
.conGbox.type02 {text-align:center;background:#f7f7f7;padding:30px 20px;box-sizing:border-box;border-left:none;border-right:none;border-top:2px solid #d9d9d9;border-bottom:2px solid #d9d9d9;margin-bottom:25px;}
.conGbox2 {background:#f7f7f7;padding:40px 0;border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;margin-bottom:25px;}
.conGbox2 table {width:630px;margin:0 auto;}
.conGbox2 table th {text-align:left;padding-right:10px;font-weight:bold;color:#464646;}
.conGbox3 {padding:17px 25px;border:1px solid #d9d9d9;margin-bottom:15px;}


.conGbox ul li {padding:10px 0;border-bottom:1px solid #d1d1d1; text-align:left;}
.conGbox ul li span.textSpan {display:inline-block;width:90px;color:#000;font-weight:bold;} 
.conGbox.seType01 ul li {padding:3px 0;border-bottom:none; text-align:left;}
.conGbox.seType01 ul li span.textSpan {display:inline-block;width:90px;color:#000;font-weight:bold;} 

.conGbox.seType01 .seType01_seArea {float:inherit;}
.conGbox.seType01 .seType01_btnArea {float:inherit;margin-top:20px;margin-left:10px;display:block;}
.conGbox.seType01 .seType01_btnArea02 {float:left;margin-top:24px;margin-left:10px;}

.conGbox.seType01:after{ content:''; display:block; clear:both; }   
.autoBox {display:inline-block;margin:0 auto;overflow:hidden;}

.ui-datepicker-trigger {display:none;}
.ptxt {color:#222;margin-bottom:10px;font-size:15px;font-weight:bold;}


.iframeBlock {width:100%;overflow:auto;}

.afterDiv:after{ content:''; display:block; clear:both; } 





/* 踰꾪듉 */

.btnCenter {text-align:center;width:100%;}

.btn01 {display:inline-block;padding:10px 0; color:#fff;text-align:center;background:#344147;border:1px solid #344147;} 
.btn02 {display:inline-block;padding:10px 0; color:#fff;text-align:center;background:#a3a8ab;border:1px solid #a3a8ab;} 
.btn05 {display:inline-block;padding:10px 0; color:#fff;text-align:center;background:#2c8fb6;border:1px solid #2c8fb6;} 
.btn06 {display:inline-block;padding:10px 0; color:#2c8fb6;text-align:center;background:#fff;border:1px solid #2c8fb6;} 
.btn08 {display:inline-block;padding:10px 0; color:#ff6600;text-align:center;background:#fff;border:1px solid #ff6600;} 


.btn03 {display:inline-block;padding:3px 0; color:#fff;text-align:center;background:#2c8fb6;} 
.btn04 {display:inline-block;padding:3px 0; color:#222;text-align:center;background:#f1f1f1;border:1px solid #000;} 
.btn07 {display:inline-block;padding:3px 0; color:#fff;text-align:center;background:#344147;border:1px solid #344147;} 
  
  
.sbtn01 {display:inline-block;padding:10px 0; color:#555;text-align:center;background:#fff;border:1px solid #555;} 
.sbtn02 {display:inline-block;padding:10px 0; color:#1e7395;text-align:center;background:#fff;border:1px solid #1e7395;} 


/* 梨좏듃 */
#myChart {width:100% !important;height:400px;}
#line01 {width:100% !important;height:220px;}
#line02 {width:100% !important;height:220px;}

/* table */
#table_type01 {width:100%;margin-bottom:20px;}
#table_type01 thead th {text-align:center;color:#000;font-weight:bold;padding:10px 0;background:#ececec;border-bottom:1px solid #d2d2d2;border-top:2px solid #9d9d9d;}
#table_type01 thead th + th {border-left:1px solid #d2d2d2;}
#table_type01 tbody td {text-align:center;color:#222;padding:10px 0;background:#fff;border-bottom:1px solid #d2d2d2;}
#table_type01 tbody td + td {border-left:1px solid #d2d2d2;}

#table_type02 {width:100%;margin-bottom:20px;border-top:2px solid #9d9d9d;}
#table_type02 tbody th {text-align:left;text-indent:10px;color:#000;font-weight:bold;padding:10px 10px;background:#ececec;border-bottom:1px solid #d2d2d2;}
#table_type02 tbody td { text-align:left;border-left:1px solid #d2d2d2;color:#222;padding:10px;background:#fff;border-bottom:1px solid #d2d2d2;}
#table_type02 tbody td input {vertical-align:middle;}
#table_type02 tbody td a {vertical-align:middle;}

.scrollY_350 {height:350px;overflow-y:scroll;border-bottom:2px solid #e1e1e1;}

/* paging */ 
.pageBlock {position:relative;}  
.writeBtn {position:absolute;right:0;top:0;} 
.paginate{width:560px;margin:0 auto;padding-bottom:50px;}  
.paginate  .list span a:hover{font-weight:600; color:#2c8fb6;} 
.paging_wrap {clear:both;display:inline-block;overflow:hidden;width:100%;margin-bottom:30px;}
.paginate span.list {display:inline-block;vertical-align:middle;}
.paginate span.list span, .paginate span.list strong {display:inline-block;margin-right:-3px;}
.paginate span.list span a {line-height:9px;width:30px;height:8px;display:inline-block;padding:10px 0;margin-left:5px;color:#8d8d8d;font-size:14px;text-align:center}
.paginate span.list strong {margin-left:5px;display:inline-block;padding:10px 0;color:#b1b1b1;font-size:14px;}
.paginate span.list span a.active {color:#2c8fb6;font-weight:600;}
.paginate span.pre {position:relative;background:#fff;text-align:center;padding-right:1px !important;text-align:right;display:inline-block !important;margin-right:3px;}
.paginate span.nxt {position:relative;background:#fff;text-align:center;padding-left:1px !important;text-align:left;display:inline-block !important;margin-left:5px;}
.paginate span.pre img, .paginate span.nxt img {vertical-align:middle;} 
.paginate span.pre a, .paginate span.nxt a {padding:0 !important;margin:0 !important}



/* layerpopup */
.layerPop {width:100%;height:100%;min-height:1100px;position:absolute;left:0;top:0;background:url('../images/layerBg.png') repeat 0 0;z-index:9999;}
.popBlock {width:620px;box-sizing:border-box;position:absolute;left:50%;top:165px;margin-left:-310px;background:#fff;}
.popBlock .layertop {padding:15px;background:#ececec;border-bottom:1px solid #9d9d9d;position:relative;}
.popBlock .layertop p {color:#000;font-size:17px;font-weight:bold;}
.popBlock .layertop a {display:block;position:absolute;right:15px;top:15px;}
.popBlock .layerBlock {box-sizing:border-box;padding: 15px 10px;background:#fff;}
.popBlock .layerBlock p {color:#333;font-size:15px;margin:10px 10px;font-weight:bold;}
.popBlock .layerBlock input {height:22px;vertical-align:top;}
.popBlock .layerBlock select {height:24px;vertical-align:top;}