@charset "utf-8";
/*@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);*/

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../font/NotoSansKR-Light.woff2) format('woff2'),
    url(../font/NotoSansKR-Light.woff) format('woff'),
    url(../font/NotoSansKr/NotoSansKR-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../font/NotoSansKR-Regular.woff2) format('woff2'),
    url(../font/NotoSansKR-Regular.woff) format('woff'),
    url(../font/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(../font/NotoSansKR-Medium.woff2) format('woff2'),
    url(../font/NotoSansKR-Medium.woff) format('woff'),
    url(../font/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(../font/NotoSansKR-Bold.woff2) format('woff2'),
    url(../font/NotoSansKR-Bold.woff) format('woff'),
    url(../font/NotoSansKR-Bold.otf) format('opentype');
}

/* Reset with bootstrap */
body,p,h1,h2,h3,span,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'Noto Sans KR','Apple SD Gothic Neo','맑은 고딕',sans-serif;word-break: keep-all;font-size: 14px;color: #000000}
a,a:hover,a:focus,a:active{text-decoration:none;color:inherit}
li{list-style:none}
address,em{font-style:normal}
label{margin-bottom:0;cursor:pointer}
table{text-align: center;table-layout:fixed; }
textarea{resize:none}
b, strong{font-weight:700}
img{vertical-align: top;}
dt{font-weight:normal}
hr{border-top-color: #515968}

/* Helper Classes */
.skip{z-index: 200;background: #000;text-align: center;color: #fff}
.skip:active, .skip:focus{position: absolute;padding: .5rem;color: #fff}
.no-style{margin: 0;padding: 0;border: 0;background: none}
.ellipsis{overflow: hidden;text-overflow:ellipsis;white-space:nowrap}
.twoline{display:-webkit-box;overflow:hidden;max-height:2.858em;line-height:1.429em;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;white-space:normal}
.center-block{display: block;margin-left: auto !important;margin-right: auto !important}
.overflow-y{overflow-y: auto}

/* Grid */

/* Typography */
.color-yellow{color: #e7ef38;}



/* Form */
.form-control{padding: 5px 15px;width: 229px;height:35px;border-color: transparent !important;background-color: #000000 !important; border-radius: 2em;font-size: 14px;color: #ffffff !important;-webkit-appearance: none}
.form-control[readonly]{border-color: #515968 !important;background-color: #343d4a !important}
.form-control-lg{height: 48px;font-size: 16px}
.col-form-label{padding: 0;line-height: 38px}
.col-form-label-lg{padding: 0;line-height: 48px;font-size: 18px}
textarea.form-control{height: auto;padding: 10px 15px}
select.form-control, .datetimepicker-input{padding-right: 15px;background:  url(../img/icon/select-arrow.png) no-repeat center right 18px}
select.form-control::-ms-expand{display: none}
.form-control:focus{background-color: rgba(0,0,0,.1);box-shadow: none}
.form-control::-webkit-input-placeholder{color: #aab2bb}
.form-control::-moz-placeholder{color: #aab2bb}
.form-control:-ms-input-placeholder{color: #aab2bb}
.form-control::-ms-input-placeholder{color: #aab2bb}
.form-control::placeholder{color: #aab2bb}
.input-group{align-items: center;color: #fff}
.input-group+.input-group{margin-top: 10px}
.input-group>.col-wide{margin-right: 15px;flex-basis: 76.5%}
.input-group-append{padding: 0 5px;font-size: 13px;color: #aab2bb}
.input-group-append:last-child{padding-right: 0}
.input-group>[class*=col]{padding: 0}
.switch-button{width: 72px;height: 32px;display: inline-block;vertical-align: top;font-size: 0}
.switch-icon{position: relative;display: flex;width: 100%;height: 100%;padding: 0 3px;border-radius: 16px;background: #171b21;align-items: center;font-size: 12px;justify-content: flex-end;transition: all .4s}
.switch-icon:before{content: 'OFF';display: block;width: 38px;text-align: center;color: #fff}
.switch-icon:after{content: '';position: absolute;width: 28px;top: 2px;left: 3px;padding-bottom: 28px;border-radius: 100%;background: #fff;box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .57);transition: left .4s}
input:checked+.switch-icon{justify-content: flex-start;background: #ed1b23}
input:checked+.switch-icon:before{content: 'ON'}
input:checked+.switch-icon:after{left: 41px}
.custom-control{min-height: 17px;padding-left: 25px;font-weight: 400;line-height: 17px;color: #fff}
.custom-control-label{display: block}
.custom-control-label::before, .custom-control-label::after{width: 17px;height: 17px;top: 0;left: -25px;border-radius: 0;box-shadow: none !important}
.custom-control-input:checked~.custom-control-label::before{background: #ed1b23;border-color: #ed1b23}
.custom-checkbox .custom-control-label{display: inline-block}
.custom-checkbox .custom-control-label::before{border-radius: 0;background: #171b21;border-color: #515968}
.custom-control+.custom-control:not(.custom-control-inline){margin-top: 15px}
.custom-radio .custom-control-input:checked~.custom-control-label::before{background: #fff;border-width: 5px}
.custom-radio .custom-control-label::after{display: none}
.custom-file{padding-left: 10px;font-size: 13px;color: #aab2bb}
.custom-file-item{display: inline-block;margin-left: 20px;vertical-align: top;line-height: 20px}
.custom-file-item .icon-x{margin-left: 10px}
.icon-x{width: 20px;height: 20px;background-image: url(../img/icon/icon_x.png)}
.input-group-both{margin-left: auto}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .input-group-both{display: flex;flex: 1;justify-content: flex-end}
}
.input-sm{width: 215px;max-width: 215px}
.input-md{width: 365px;max-width: 365px}
.form-group{margin-bottom: 25px}
.form-inline{display: flex}
.form-inline>*+*{margin-left: 10px}
.form-inline .input-group-date{width: 336px;flex-basis: 336px;min-width: 336px}
.datetimepicker-input{background-image: url(../img/icon/icon_date.png)}



/* Icon */
[class^=icon-]{display:inline-block;overflow:hidden;margin:0;padding:0;border:0;background-color:transparent;background-position:50% 50%;background-repeat:no-repeat;font-size:0;line-height:0;text-decoration:none;vertical-align: middle;text-indent:-1000em}



/*아이콘모음*/
.icon-home{width: 28px;height: 28px;background-image: url(../img/icon/home.png);}
.icon-menu{width: 39px;height: 22px;background-image: url(../img/icon/menu-btn.png);}
.icon-dashboard{width: 25px;height: 27px;background-image: url(../img/icon/dashboard.png);}
.icon-danger-magenta{width: 21px; height: 18px; background-color: #f20f6a; border-radius: 18px; margin-right: 10px}
.icon-danger-cyan{width: 21px; height: 18px; background-color: #00deff;border-radius: 18px; margin-right: 10px}
.icon-fmsOn{width: 18px; height: 18px; background-color: #fff000; border-radius: 100%; margin-left: 11px;margin-bottom: 2px;}
.icon-control{width: 24px;height: 14px;background-image: url(../img/icon/control.png)}
.icon-control.on{background-image: url(../img/icon/control-on.png)}
.icon-work{width: 24px;height: 24px;background-image: url(../img/icon/work.png)}
.icon-work.on{background-image: url(../img/icon/work-on.png)}
.icon-service{width: 28px;height: 27px;background-image: url(../img/icon/service.png)}
.icon-service.on{background-image: url(../img/icon/service-on.png)}
.icon-record{width: 27px;height: 27px;background-image: url(../img/icon/record.png)}
.icon-record.on{background-image: url(../img/icon/record-on.png)}
.icon-set{width: 27px;height: 27px;background-image: url(../img/icon/set.png)}
.icon-set.on{width: 27px;height: 27px;background-image: url(../img/icon/set-on.png)}
.icon-info{width: 13px;height: 13px; background-image: url(../img/icon/info.png);}
.icon-loguot{width: 12px;height: 12px; background-image: url(../img/icon/logout.png);}




.icon-close{width: 23px;height: 21px; background-image: url(../img/icon/close.png);}    /*닫힘 아이콘*/
.icon-open{width: 23px;height: 21px; background-image: url(../img/icon/open.png);}    /*열림 아이콘*/
.icon-doorOpen{width: 19px;height: 28px; background-image: url(../img/icon/doorOpen.png);}   /*문열림 아이콘*/
.icon-doorClose{width: 24px;height: 28px; background-image: url(../img/icon/doorClose.png?ver=1);}   /*문닫힘 아이콘*/
.icon-doorLong{width: 26px;height: 28px; background-image: url(../img/icon/doorLong.png);}   /*장시간열림 아이콘*/
.icon-doorForce{width: 25px;height: 28px; background-image: url(../img/icon/doorForce.png);} /*강제열림 아이콘*/
.icon-handleClose{width: 29px;height: 29px; background-image: url(../img/icon/handleClose.png);}  /*핸들잠김 아이콘*/
.icon-handleOpen{width: 23px;height: 29px; background-image: url(../img/icon/handleOpen.png);} /*핸들열림 아이콘*/
.icon-battery{width: 38px;height: 18px; background-image: url(../img/icon/battery.png);} /*배터리 아이콘*/
.icon-batteryAn{width: 38px;height: 18px; background-image: url(../img/icon/batteryAn.png);} /*배터리부족 아이콘*/
.icon-reset{width: 26px;height: 26px; background-image: url(../img/icon/reset.png);} /*리셋 아이콘*/
.icon-normal{width: 26px;height: 26px; background-image: url(../img/icon/normal.png);}  /*상태정상 아이콘*/
.icon-error{width: 30px;height: 30px; background-image: url(../img/icon/error.png);} /*상태에러 아이콘*/
.icon-connect{width: 29px;height: 29px; background-image: url(../img/icon/connect.png);} /*연결정상 아이콘*/
.icon-release{width: 30px;height: 30px; background-image: url(../img/icon/release.png?ver=1);} /*알림해제 아이콘*/



/*페이지 아이콘*/
.icon-prev{width: 5px;height: 9px;background-image: url(../img/icon/pagearrow.png);}
.icon-next{width: 5px;height: 9px;background-image: url(../img/icon/pagearrow.png); transform: rotate(180deg);}
.icon-first{width: 9px;height:9px;background-image: url(../img/icon/pagearrow_double.png);}
.icon-end{width: 9px;height: 9px;background-image: url(../img/icon/pagearrow_double.png); transform: rotate(180deg);}


/* table */
.table{overflow-y: scroll}



/* Button */
button{border: 0;}

[class^=btn-]{    
	padding: 0 10px;
    height: 30px;
    line-height: 30px;
    max-width: 150px;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    outline: none !important;
    font-size: 15px;
}

[class^=btn-] i {margin-right: 4px;     background-size: 23px;     background-size: 23px;}


/*관리자 테이블 안에있는 중 버튼색상*/
.btn-cyan {background-color: #15b8fc;background-image: linear-gradient(180deg, #087dfb, #115aa9);text-shadow: 1px 1px 2px #424c52;box-shadow: inset 0px 2px 1px 0px rgba(26,116,177,0.7), inset 0px 0px 8px 0px rgba(255,255,255,0.7);}
.btn-green {background-color: var(--success);background-image: linear-gradient(180deg, #29ab47, #1c8c36);text-shadow: 1px 1px 2px #225f2f;box-shadow: inset 0px 2px 1px 0px rgba(44, 123, 62, 0.5), inset 0px 0px 8px 0px rgba(255,255,255,0.7);}
.btn-red{background-color: #de816f; background-image: linear-gradient(180deg, #de816f, #bd1d1c);text-shadow: 1px 1px 2px #b11515;box-shadow: inset 0px 2px 1px 0px rgba(177,21,21,0.7), inset 0px 0px 8px 0px rgba(255,255,255,0.7);;}
.btn-black{background-color: #5e5e5e; background-image: linear-gradient(180deg, #5e5e5e, #131313);text-shadow: 1px 1px 2px #000000;box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.7), inset 0px 0px 8px 0px rgba(255,255,255,0.7);;}
.btn-gray{background-color: #828282; background-image: linear-gradient(180deg, #828282, #2e2e2e);text-shadow: 1px 1px 2px #313131;box-shadow: inset 0px 2px 1px 0px rgba(49,49,49,0.7), inset 0px 0px 8px 0px rgba(255,255,255,0.7);;}
.btn-pink{background-color: #de6fad; background-image: linear-gradient(180deg, #de6fad, #a70e5a);text-shadow: 1px 1px 2px #990048;box-shadow: inset 0px 2px 1px 0px rgba(153,0,72,0.7), inset 0px 0px 8px 0px rgba(255,255,255,0.7);;}
.btn-sea{background-color: #2cc6d0; background-image: linear-gradient(180deg, #2cc6d0, #167d83);text-shadow: 1px 1px 2px #167985;box-shadow: inset 0px 2px 1px 0px rgba(22,121,133,0.7), inset 0px 0px 8px 0px rgba(255,255,255,0.7);;}
.btn-yellow {background-color: #f8d92b;background-image: linear-gradient(180deg, #ffc700, #e8a40a);text-shadow: 1px 1px 2px #48453c;box-shadow: inset 0px 2px 1px 0px rgba(232, 188, 35, 0.7), inset 0px 0px 8px 0px rgba(255,255,255,0.7);}
.btn-grey{background-color: #5b7077; background-image: linear-gradient(180deg, #8fabad, #5b7077);text-shadow: 1px 1px 2px rgba(0,0,0,.1);box-shadow: inset 0px 2px 1px 0px #8fabad, inset 0px 0px 8px 0px rgba(255,255,255,0.7);;}


/* Badge */
.badge{position: absolute; top: 50%; transform: translateY(-50%); right: 0; padding: 0;min-width: 25px; min-height: 25px; line-height: 25px; color: #ffffff; background-color: #df001e; border-radius: 100%;margin-right: 15px;}

/* Navs */
.snb{position: fixed; top: 77px; z-index: 1; width: 320px; height: calc(100vh - 77px); background-color: #0f233c; color: #939393;z-index: 100;}
.snb.main{display: none;}
.snb.on{display: block;}
.snb ul{padding: 40px;}
.snb ul li{line-height: 1em; border-bottom: 1px solid #a3aab4}
.snb .arrow:hover{
	color:#fff;
}
.snb>ul>li>a{position: relative;display: block;line-height: 30px; font-size: 19px;display: flex;align-items: center;width: 100%;padding: 15px 0;}
.snb>ul>li>a.arrow::after{
	content:"";
	display: block;
	width:10px;
	height:10px;
	border-top:2px solid #a3aab4;
	border-right:2px solid #a3aab4;
	position: absolute;
	right: 10px;
	top: calc(50% - 2px);
	-webkit-transform: rotate(45deg) translateX(50%);
	-ms-transform:rotate(45deg) translateX(50%);
    transform: rotate(45deg) translateX(calc(-50%));
	}
.snb>ul>li>a.arrow.on::after{right: 15px; border-top:2px solid #e6e6d9;border-right:2px solid #e6e6d9; -webkit-transform: rotate(135deg) translateX(calc(-50% - 3px));transform: rotate(135deg) translateX(calc(-50% - 3px));}
.snb>ul>li>a.on{color: #f5fd38 !important}

.snb ul ul{display: none; padding: 10px 0 10px 0;}
.snb ul li a.on + ul{display: block;}


.left_info li{border:none !important;}
.left_info li a{
	
	line-height: 2.5em;
	padding: 2px 0 2px 8px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.subnav li{border:none !important;}
.subnav li a{
	line-height: 2.5em;
	padding: 2px 0 2px 8px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.snb .subnav li:hover{
	color: #111;
    background: rgb(255 255 102 / 50%);
    font-weight: 800;
}
.user-menu li:hover{
	background:none !important;
	color:#fff !important;
	font-weight:400 !important;
}

.user-menu li .user-info a:hover{
	font-weight:100 !important;
	color:#939393 !important;
}

.snb .logo:hover{
	background: url(../img/footer-logo.png) no-repeat 0 0 / 240px 27px !important;
}

.snb li li a{
	font-size: 16px;    
	font-size: 17px;
    letter-spacing: -0.5px;
}
.snb li li.on{
	color: #111;
    background: #e7ef38  !important;
    font-weight: 800;
}
.snb i{margin-right: 20px; width: 15%;}
.snb i+span{display: inline-block; width: 100%;}
.snb .user-menu {    
	position: absolute;
    bottom: 0;
    background: #0f233c;
    border-bottom: none;
	padding-bottom: 30px ;
}
.snb .user-menu ul{display: flex; flex-direction: column; padding: 0;}
.user-name{font-size: 15px;color: #ffffff;}
.snb .user-name a{font-size: 15px; display: inline; text-decoration: underline;color: #ffffff;}
.snb .user-info{display: flex; width: 75%;}
.snb .user-info i{margin-right: 3px;}
.snb .user-info a{font-size: 15px;width: 100%;}
.snb .logo {
    margin-top: 10px;
    width: 240px;
    height: 27px;
    background: url(../img/footer-logo.png) no-repeat 0 0 / 240px 27px;
    text-indent: -99999px;
    overflow: hidden;
}

.snb .logo:hover {
	background:none;
}



/* 로그인 */

.login_bg{
	background:url(../img/login_bg.jpg) no-repeat;
	width:100%;
	position:relative;
	display: block;
}

.login_form{
	width:370px;
	margin:295px auto 0;
	color:#fff;
}

.login_logo{
	width:100%;
	text-align:center;

}
.logo_txt{
	font-size:22px;
	margin:15px 0;
}

.login_box input{
	height:50px;
	margin-bottom:5px;
	border-radius:5px;
}

.auto_check{
	margin:5px 0;
	font-size:15px;
	color:#999;
}

.login_footer{
	position:fixed;
	bottom:20px;
	width:100%;
	text-align:center;
	font-size:13px;
}

.login_btn{
	width:100%;
	background:#333;
	height:50px;

}

.login_footer p{
	color:#9d9b9e;
}
.login_footer span{
	color:#666666;
}




/* modal */
.modal-body{padding:0}
.modal-dialog{max-width: 1680px}
.modal-content{background:none;border:0;color:#fff;     border: 1px solid #ddd;}
.icon-modal-arrow,.icon-btn-modal-clse{position: absolute;top:50%;left:0;z-index: 10; width:78px;height:65px;margin:-32px -40px; background-image: url(../img/modal-arrow.png);}
.icon-modal-arrow.next{left: auto;right:0; transform: scale(-1,1)}
.icon-btn-modal-clse{top:70px;left:auto;right:0;background-image: url(../img/btn-modal-clse.png);}
.bx-server{position:relative;/*width:747px;height: 952px;*/ min-height:900px;border:1px solid #0b2c4f; background:rgba(0,3,9,.5) url(../img/server-bg.png) no-repeat; border-radius:0 80px; box-shadow:0 0 40px rgba(0,0,0,.5); background-size: cover}
.bx-server .cnt{padding:30px 50px; background:rgba(17,61,105,.8);border-radius:0 0 0 80px; font-size:28px;}
.bx-server dt{float: left;color:#fff}
.bx-server dd{margin:0 0 20px 140px;color:#e6e6d9;border-bottom-color: #114374;border-bottom-style: ridge;padding-left: 20px}
.bx-server .img{padding:40px 0 70px; text-align:center}
.bx-server .img>*{display: inline-block;margin:0 10px; vertical-align: bottom;font-size: 24px; color:#14a6ca}
.lst-lan li *{display: inline-block;vertical-align: middle}
.bx-ups{padding-right:600px;background:rgba(0,3,9,.8);border-radius:80px;}
.bx-ups .cnt{position: absolute;top:0;bottom:0;right:0;width: 600px;padding: 50px; border-radius:0 80px 80px 0;font-size:20px}
.bx-ups h5{margin-bottom: 20px;font-size:32px;border-bottom-color: white;border-bottom-style: ridge;}
.bx-ups h6{margin:30px 0 10px; font-size:20px;}
.bx-ups dl{margin-bottom:40px;border-bottom-color: white;border-bottom-style: ridge;}
.bx-ups dt{color:#1fd5eb}
.bx-ups dd{margin:0 0 5px 130px; color:#fff;border-bottom-color: #114374;border-bottom-style: ridge;padding-left: 20px}

.bx-table {
    background: rgb(255,255,255);
    border-radius: 3px;
/*    padding: 0 20px 20px 20px;*/
}

.cnt{
	padding: 0 20px 20px 20px;
}


/* scrollbacr */
body ::-webkit-scrollbar{width: 5px; height:5px;}
body ::-webkit-scrollbar-track {background-color: transparent;}
/*body ::-webkit-scrollbar-thumb {background-color:#1b9dc2; background-image: linear-gradient(90deg, #1b9dc2, #061e4a);border-radius: 5px;}*/
body ::-webkit-scrollbar-thumb {background-color:#ddd; background:linear-gradient(45deg, #0e8cf8, #01deff);border-radius: 5px;}*/?
body ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {width:5px;height:5px;background:transparent;} 
/*  */


/* Panel */
.panel{display: none;overflow-y: auto;position: fixed;top: 0;right: 0;bottom: 0;background: #171b21;transform: translateX(100%);transition: transform .3s}
.panel-open .panel{transform: translateX(0)}
.panel-body{padding: 30px;display: flex;height: 100%;flex-direction: column}
.panel-body>*{flex-shrink: 0}
.panel-body .content{padding: 20px}
.panel-body .bottom-buttons{margin: 40px 0 0}
.panel-body .content-scroll{padding-bottom: 0;flex: 1 1 auto;overflow-y: auto}
.panel-body .content-scroll:after{content: '';display: block;height: 20px}
#sideView{width: 800px}

/* popover */
[data-toggle="popover"]{cursor: pointer}
.popover-header, .popover-body{font-size: 12px;color: #000}
.popover-body{color: #666}

/*--------------------------------------
    PAGES
---------------------------------------*/
/* Layout */
html{}
/*body{display: flex;background: url(../img/background.png) no-repeat fixed 100% 100%;}*/
body{display: flex;background-size: contain;}
#wrap{display: flex;flex-direction: column;width: 100%;min-height: 100vh;min-width: 1600px}
#ct.main{padding: 30px 50px;margin-top: 77px;}

/* Header */
#hd{position: fixed;z-index:100; display: flex; width: 100%; height: 77px; align-items: center; background: linear-gradient(45deg, #102642, #18416e);}
.mega-menu{width: 85px; height: 77px; background-color: #e7ef38;}
.menu-title a{display: flex;align-items: center; text-transform: uppercase; font-size: 30px;}
.menu-title i{ margin: 0 17px 0 20px;}

.menu-title a:hover{color:#fff;}
/* Footer */

#ft{margin-left: 320px;width: calc(100% - 320px); background-color: #fafafa; font-size: 13px; text-align: center; padding: 30px;}
#ft.main{display: none;}
address{color: #9d9b9e; margin-bottom: 8px;}
address+p{color: #666666;}

/* content */
#content{width: calc(100% - 320px); min-height: calc(100vh - 77px); padding: 16px; display: inline-flex; flex-wrap: wrap; flex-direction: column;align-content: flex-start;background-color: #fbfbfb;margin: 77px 0 0 320px;}
#content.main{width: 100%; min-width: 1600px; height: 1080px; min-height: 100vh; padding: 0;display: inline-flex;flex-wrap: wrap; flex-direction: column;align-content: flex-start;background-color: transparent;margin: 0}
h1{position: absolute;right: 40px;top: 0;line-height: 77px;font-size:20px;color: #e7ef38;}
h1 span{font-size: 40px; font-weight: 700; margin-left: 15px;}
#content .cont-border{ border: 1px solid #1a9eba;}
#content .cont-border:not(.smart-rack-btm ){margin-top: -20px}
.modal-h{
	position: relative;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: left;
    font-weight: 300;
    letter-spacing: -1px;
    /* margin-left: 34px; */
    z-index: 1;
}
.modal-h::after {
content: "";
    position: absolute;
    top: 0;
    left: -1px;
    z-index: -1;
    display: block;
    width: calc(100% + 2px);
    height: 100%;
    background-color: #1a2d42;
    border: 1px solid #1a2d42;
}

#content h2:not(.page-title){position: relative; width: 193px; height: 40px;color: #000000; font-size: 20px; text-transform: uppercase; line-height: 40px; text-align: center; font-weight: 300; letter-spacing: -1px; margin-left: 34px; z-index: 1}
#content h2:not(.page-title)::after{border: 0.3px solid #1a9eba; content: "";  position: absolute; top: 0; z-index: -1; display: block; width: 100%; height: 100%; background-color: #e6e6d9; transform: skew(10deg); border-radius: 0 10px 0 10px;}


.modal-h{top:-20px;}
#content > div:not(:first-child){
    margin-top:10px;
}

.modal-h b{
	padding-left: 20px;
}

/* main */
.smart-rack{margin-right: 30px;margin-top: 20px;}
.smart-rack.cont-border{height: 710px;}
.smart-rack-top{display: flex; justify-content: space-between; align-items: flex-end;}
.page-title{font-size: 70px; text-transform: uppercase;line-height: 1;}
.page-title span{margin-left: 15px; font-size: 24px; font-family: 'NanumSquare', sans-serif;}
.smart-rack-btm{width: 1176px;height: 636px;}
.device-event{margin-right: 30px; position: relative}
.device-event .cont-border{padding: 30px 40px; max-width: 1176px}
#content .device-event h2{width: 263px; height: 40px;}
.table-wrap{width: 100%; height: 170px; overflow-y: scroll; overflow-x: hidden; padding-right: 20px;}
.table-wrap table {width: 1064px; color: #ffffff; padding: 0 40px; table-layout: fixed;}
.table-wrap thead{background-color: #000a21; height: 47px; /*mix-blend-mode: multiply;*/}
.table-wrap thead th, .device-event td, .device-event th{border: none; }
.device-event tr:not(:last-of-type) td{border-bottom: 1px solid #0a3881;}
.table-wrap thead{transform: skewX(10deg); font-style: italic;}
.table-wrap thead th:first-of-type{border-radius: 0 0 0 10px}
.table-wrap thead th:last-of-type{border-radius: 0 10px 0 0}
.table-wrap thead{width: 100%;max-width: 1094px}
.table-wrap .cont-border{overflow: hidden;height: 200px;}
.cont-border{display: flex;width: 100%;flex-wrap: wrap;justify-content: space-between;padding: 20px 20px;}
.cont-border li{width: calc(50% - 5px);}
#content > div.fms-info{}
.fms-info .cont-border{width: 613px; height: 406px; overflow: hidden;}
.fms-info ul{width: 613px;height: 360px;overflow: scroll; overflow-x: hidden; display: flex; flex-wrap: wrap; justify-content: space-between;padding-top: 15px;}
.infoList-top{display: flex;color:#fff000;height: 36px;justify-content: space-between; background-color: #000000; border-radius: 36px;padding: 6px 8px;}
.infoList-top p{line-height:1.8; margin-left: 13px;}
.infoList-top span{display: inline-block;width: 61px; height: 24px; text-align: center; line-height: 24px; background: #0b2538; border-radius: 24px;font-size: 13px; -webkit-box-shadow: inset 0px 3px 3px 1px rgba(0,0,0,0.35);
-moz-box-shadow: inset 0px 3px 3px 1px rgba(0,0,0,0.35);
box-shadow: inset 0px 3px 3px 1px rgba(0,0,0,0.35);}
.infoList-btm{display: flex;margin: 15px 0 030px; padding: 0 7px;}
.infoList-btm table{color: #ffffff; }
.left-img{margin-right: 15px;}
.line-height td{padding-top: 12px;}
[class^=info-table]{font-weight: bold; font-size: 12px; text-align: left}
.info-table1{text-align: center;}
.info-table1 span{display: inline-block; margin-top: 7px; margin-left: 9px; color: #012743; background-color: #07ffd9; padding: 7px 13px; border-radius: 2em}
.info-table2 td{text-align: center; line-height: 1.5}
.info-table2 strong{display: inline-block; margin-right: 20px; color:#dcc403}
.info-table3 tr td{line-height: 2}
.info-table3 tr td:last-child{color: #eddf02}
.sensor-info{}
.sensor-info .cont-border{display: flex; flex-wrap:wrap; width: 613px; box-sizing: border-box; padding-top: 35px;}
.sensor-info .cont-border table{font-size: 12px;}
.sensor-info .cont-border td{padding: 12px 7px; color: #96acbe; font-weight: bold; text-align: left;}
.sensor-info .cont-border td span{color: #f5fc2d;}
.count-view{}
.count-view .cont-border{width: 613px;height: 231px;flex-wrap: nowrap;padding-top: 35px;}
.count-view .cont-border li{position: relative; text-align: center; font-size: 15px; font-weight: bold; color: #ffffff}
.count-view .cont-border strong{display: block;font-size: 60px; font-weight: bold;padding-bottom: 20px;}
.count-view .cont-border strong:before{content: ""; display: block; position: absolute; bottom: 18px; left: 50%; transform: translateX(-50%); width: 145px; height: 117px; background: url(../img/shyBG.png) no-repeat center;}

/* sub */
.frm-title{position: relative; font-size: 21px; padding-top: 13px;font-family: 'NanumSquare', sans-serif; font-weight:600;}
.frm-title::before{content: ""; display: block; position: absolute; top: 0; left: 0; width: 25px; height: 3px; background-color: #000;}
#content div.frm-srch{margin-top: 20px;}
.frm-srch{display: flex;align-items: center; justify-content: center;padding: 20px;background:#fff; border:1px solid #dededc;border-radius: 3px;margin-bottom: 30px;}
.frm-srch input{width:100%;}

.frm-srch02 {

    border-radius: 3px;
    margin-bottom: 15px;
    border-top: 3px solid #1c2635;
}

select{    
	height: 35px;
	line-height:35px;
    font-size: 15px;
    color: #555;
    border: 1px solid #d3d3d3;
    min-width: 60px;
}

input{
    font-size: 15px;
    height: 35px;
	line-height:35px;
    border: 1px solid #d3d3d3;
    vertical-align: middle;
    margin-right: 10px;
	padding:0 4px;
}


.table.frm-table thead th{border-bottom:0;}

.frm-table{
	border-top:3px solid #1c2635;
}
.frm-table th{
	background-color: #efefef;
    border: 1px solid #d1d1d1;
    font-size: 14px;
    font-weight: 500;
    color: #343a40;
    text-transform: uppercase;
    padding: 8px 0;
    white-space: nowrap;
    font-weight: 600;
}
.frm-table tbody tr:hover{ background:#feffec;}
.frm-table tbody td{    
	border: 1px solid #d1d1d1;
    font-size: 15px;
	    height: 40px;
    min-height: 40px;
    font-weight: 400;
    vertical-align: middle;
    text-align: -webkit-center;
	text-overflow: ellipsis;
    overflow: hidden;
	padding: 2px 8px;
	white-space: nowrap;
}
.frm-table tbody tr:nth-child(odd) {
  background-color : #fff !important
}

.frm-table tbody tr:nth-child(even) {
  background-color : #fbfbfb !important
}


.pagination{display: flex;justify-content: center;margin:20px auto}
.page-item{margin: 0 4px;}
.page-link{position: relative; box-sizing: border-box; width: 40px; height: 40px;line-height: 36px;padding: 0;text-align: center;}
.page-link,.page-link:hover{font-size: 18px; color: #757575; background: #fff; border-radius: 3px;}
.page-link.active{background: #222c3c; color: #fff; border-color: #222c3c;}



/* popup */
.breakdown{overflow-y: auto;height: 405px;border: 1px solid #515968;border-width: 1px 0}
.breakdown>li+li{border-top: 2px solid #515968}
.breakdown-header{display: flex;border-bottom: 1px solid #515968;height: 38px;padding: 0 12px;align-items: center;justify-content: space-between;font-size: 13px}
.breakdown-content{padding: 13px 12px}



/* 취합하기 */
.icon-cal{width:27px;height:19px; background-image: url("../img/btn-cal.png");}

.input-radio{ margin-right: 1em}
.input-radio,.input-radio *{vertical-align: middle}

.btn-primary,.btn-muted{background: #000; border-color:transparent;border-radius:0; color:#fff}
.btn-muted{background: #999;}
.btnarea .btn{width:140px}
.btnarea-top{position: absolute;top:70px;right:50px;}

.tb{margin:10px 0; border-top: 3px solid #1a2d42; width:100%;}
.tb tr>*{padding:8px; border: 1px solid #dededc;background:#fff;}
.tb th{background:#f4f4f4; }
.tb .form-control{width:100%; border: 1px solid #dededc !important;background: none !important; border-radius:0; color:inherit !important;-webkit-appearance:auto}
.tb-blk th{background:#283549; border-color:#456d97; color: #fff}
.tb-blk tr>*{padding:15px 20px;}

.tree-wrp {
    height: 510px;
    padding: 20px;
    border: 1px solid #dededc;
    background: #fff;    
	overflow: hidden;
    overflow-y: auto;
}

.absolute-right{position: absolute; right: 0}
.font-black{color: #000; }

.v_top{vertical-align:top;}


.left{text-align:left !Important}
.right{text-align:right !Important}
.center{text-align:center !Important}

.w10{width:10%;}
.w20{width:20%;}
.w30{width:20%;}
.w40{width:40%;}
.w50{width:50%;}
.w60{width:60%;}
.w70{width:70%;}
.w80{width:80%;}
.w90{width:90%;}
.w100{width:100%;}


.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}


.form_table{
	width:100%;
	table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}
.form_table th {
    height: 20px;
    line-height: 20px;
    padding: 13px 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #ddd;
    background: #efefef;
    color: #000;
}
.form_table td{
	padding: 0 10px;
    text-align: left;
    border: 1px solid #ddd;
    background: #fff;
}


.form_table .flex_box{
	display:flex;
	height:35px;
	line-height:35px;
}


.flex_box{
	display:flex;
}



input[type=checkbox] { display:none; }
input[type=checkbox] + label { 
	height: 22px; 
	display: inline-block; 
	cursor: pointer; 
	line-height: 22px; 
	padding-left: 22px; 
	margin-right:15px;
	background: url('../img/check_off.png?ver=2') left/22px no-repeat; 

}

.table input[type=checkbox] + label { 
	margin-right:0 !important;
}

input[class=non_ckbox] { display:none; }
input[class=non_ckbox] + label { 
	height: 22px; 
	display: inline-block; 
	cursor: pointer; 
	line-height: 22px; 
	padding-left: 22px; 
	margin-right:0;
	background: url('../img/check_off.png?ver=2') left/22px no-repeat; 
	vertical-align: middle;

}

input[type=checkbox]:checked + label { background-image: url('../img/check_on.png?ver=2'); }

input[type=radio] { display:none; }
input[type=radio] + label { 
	height:22px;
	display: inline-block; 
	cursor: pointer; 
	line-height: 22px; 
	padding-left: 22px;
	margin-right:15px;
	background: url('../img/radio_off.png') left/22px no-repeat; 

}

input[type=radio]:checked + label { background-image: url('../img/radio_on.png?ver=1'); }

input[type=file]{
	border:none;
}



.frm-table p{
	font-weight: 500;
    font-size: 20px;
    width: fit-content;
    border-radius: 8px;
    padding: 0 8px;
}

.frm-table p::before {
    content: "";
    display: inline-block;
    width: 35px !important;
    height: 35px !important;
    font-size: 20px !important;
    margin-right: 5px !important;
    border-radius: 5px;
    vertical-align:top;
	transform: scale(0.8);
}

.ico_o{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #eee;
    border-radius: 100%;
    margin-right: 5px;
}



/*관리자 상태버튼색상*/

.t_blue{color:#007bff;}
.t_green{color:#28a745;}
.t_red{color:#dc3545;}
.t_yellow{color:#daa900;}
.t_gray{color:#6c757d;}
.t_dark{color:#343a40;}
.t_blue::before{background:#007bff;}
.t_green::before{background:#28a745;}
.t_red::before{background:#dc3545;}
.t_yellow::before{background:#daa900;}
.t_gray::before{background:#6c757d;}
.t_dark::before{background:#343a40;}

.t_indigo{color:#6610f2;}
.t_purple{color:#6f42c1;}
.t_pink{color:#e83e8c;}
.t_orange{color:#fd7e14;}
.t_teal{color:#20c997;}
.t_cyan{color:#17a2b8;}
.t_white{color:#fff;}
.t_gray-dark{color:#343a40;}
.t_primary{color:#007bff;}
.t_secondary{color:#6c757d;}
.t_success{color:#28a745;}
.t_info{color:#17a2b8;}
.t_warning{color:#ffc107;}
.t_danger{color:#dc3545;}
.t_light{color:#f8f9fa;}


.t_indigo::before{background:#6610f2;}
.t_purple::before{background:#6f42c1;}
.t_pink::before{background:#e83e8c;}
.t_orange::before{background:#fd7e14;}
.t_teal::before{background:#20c997;}
.t_cyan::before{background:#17a2b8;}

/*배터리 정상*/
.ico_battery::before{content: url(../img/icon/battery.png) !important;}  
/*배터리 비정상*/
.ico_batteryan::before{content: url(../img/icon/batteryAn.png) !important;} 
/*연결 정상*/
.ico_connect::before{content: url(../img/icon/connect.png) !important;}
/*문닫힘*/
.ico_doorclose::before{content: url(../img/icon/doorClose.png) !important;}
/*문열림*/
.ico_dooropen::before{content: url(../img/icon/doorOpen.png) !important;}
/*강제문열림*/
.ico_doorforce::before{content: url(../img/icon/doorForce.png) !important;}
/*장시간열림*/
.ico_doorlong::before{content: url(../img/icon/doorLong.png) !important;}
/*상태 에러*/
.ico_error::before{content: url(../img/icon/error.png) !important;}
/*상태정상*/
.ico_normal::before{content: url(../img/icon/normal.png) !important;}
/*핸들잠김*/
.ico_handleclose::before{content: url(../img/icon/handleClose.png) !important;}
/*핸들열림*/
.ico_handleopen::before{content: url(../img/icon/handleOpen.png) !important;}
/*열림*/
.ico_open::before{content: url(../img/icon/open.png) !important;}
/*닫힘*/
.ico_close::before{content: url(../img/icon/close.png) !important;}
/*알림해제*/
.ico_release::before{content: url(../img/icon/release.png) !important;}
/*리셋*/
.ico_reset::before{content: url(../img/icon/reset.png) !important;}



.ico_acplugno::before{content: url(../img/icon/ACplugno.png) !important;}  /*AC단선*/
.ico_acplug::before{content: url(../img/icon/ACplug.png) !important;}  /*AC복구*/
.ico_rowbattery::before{content: url(../img/icon/rowbattery.png) !important;}   /*LOW배터리*/
.ico_rebattery::before{content: url(../img/icon/rebattery.png) !important;}   /*LOW배터리복구*/
.ico_nobattery::before{content: url(../img/icon/nobattery.png) !important;}   /*배터리고장*/
.ico_danbattery::before{content: url(../img/icon/danbattery.png) !important;}   /*배터리단선*/
.ico_bokbattery::before{content: url(../img/icon/bokbattery.png) !important;}   /*배터리단선복구*/
.ico_update::before{content: url(../img/icon/update.png) !important;}   /*업데이트완료*/
.ico_noupdate::before{content: url(../img/icon/noupdate.png) !important;}   /*업데이트실패*/



.blue{background:#007bff;}
.indigo{background:#6610f2;}
.purple{background:#6f42c1;}
.pink{background:#e83e8c;}
.red{background:#dc3545;}
.orange{background:#fd7e14;}
.yellow{background:#ffc107;}
.green{background:#28a745;}
.teal{background:#20c997;}
.cyan{background:#17a2b8;}
.white{background:#fff;}
.gray{background:#6c757d;}
.gray-dark{background:#343a40;}
.primary{background:#007bff;}
.secondary{background:#6c757d;}
.success{background:#28a745;}
.info{background:#17a2b8;}
.warning{background:#ffc107;}
.danger{background:#dc3545;}
.light{background:#f8f9fa;}
.dark{background:#343a40;}


.blinking{
	-webkit-animation:blink 0.5s ease-in-out infinite alternate;
    -moz-animation:blink 0.5s ease-in-out infinite alternate;
    animation:blink 0.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:0.3;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}


/*범례*/


.legend_cont{
	position: absolute;
	right: 16px;
	margin:0 !important;
/*	top:315px;*/
}
.legend_area{
	border:1px solid #ddd;
	background:#fff;
	padding:3px;
	display: inline-block;
	text-align:center;
	float: right;
}

.frm-li li{
	float:left;
}

.frm-li p{
    font-weight: 400;
    font-size: 14px;
    padding: 3px 8px;
}

.frm-li p::before {
    content: "";
    display: inline-block;
    width: 20px !important;
    height: 20px !important;
    margin-right: 5px !important;
    border-radius: 5px;
    vertical-align:top;
}


/*배터리 정상*/
.frm-li .ico_battery::before{content:"" !important; background-image: url(../img/icon/battery.png) !important; background-size:20px}  
/*배터리 비정상*/
.frm-li .ico_batteryan::before{content:"" !important; background-image: url(../img/icon/batteryAn.png) !important; background-size:20px} 
/*연결 정상*/
.frm-li .ico_connect::before{content:"" !important; background-image: url(../img/icon/connect.png) !important; background-size:20px}
/*문닫힘*/
.frm-li .ico_doorclose::before{content:"" !important; background-image: url(../img/icon/doorClose.png) !important; background-size:20px}
/*문열림*/
.frm-li .ico_dooropen::before{content:"" !important; background-image: url(../img/icon/doorOpen.png) !important; background-size:20px}
/*강제문열림*/
.frm-li .ico_doorforce::before{content:"" !important; background-image: url(../img/icon/doorForce.png) !important; background-size:20px}
/*장시간열림*/
.frm-li .ico_doorlong::before{content:"" !important; background-image: url(../img/icon/doorLong.png) !important; background-size:20px}
/*상태 에러*/
.frm-li .ico_error::before{content:"" !important; background-image: url(../img/icon/error.png) !important; background-size:20px}
/*상태정상*/
.frm-li .ico_normal::before{content:"" !important; background-image: url(../img/icon/normal.png) !important; background-size:20px}
/*핸들잠김*/
.frm-li .ico_handleclose::before{content:"" !important; background-image:url(../img/icon/handleClose.png); background-size:20px}
/*핸들열림*/
.frm-li .ico_handleopen::before{content:"" !important; background-image: url(../img/icon/handleOpen.png) !important; background-size:20px}
/*열림*/
.frm-li .ico_open::before{content:"" !important; background-image: url(../img/icon/open.png) !important; background-size:20px}
/*닫힘*/
.frm-li .ico_close::before{content:"" !important; background-image: url(../img/icon/close.png) !important; background-size:20px}
/*알림해제*/
.frm-li .ico_release::before{content:"" !important; background-image: url(../img/icon/release.png) !important; background-size:20px}
/*리셋*/
.frm-li .ico_reset::before{content:"" !important; background-image: url(../img/icon/reset.png) !important; background-size:20px}

/*AC단선*/
.frm-li .ico_acplugno::before{content:"" !important; background-image: url(../img/icon/ACplugno.png) !important; background-size:20px}
/*AC복구*/
.frm-li .ico_acplug::before{content:"" !important; background-image: url(../img/icon/ACplug.png) !important; background-size:20px}
/*LOW배터리*/
.frm-li .ico_rowbattery::before{content:"" !important; background-image: url(../img/icon/rowbattery.png) !important; background-size:20px}
/*LOW배터리복구*/
.frm-li .ico_rebattery::before{content:"" !important; background-image: url(../img/icon/rebattery.png) !important; background-size:20px}
/*배터리고장*/
.frm-li .ico_nobattery::before{content:"" !important; background-image: url(../img/icon/nobattery.png) !important; background-size:20px}
/*배터리단선*/
.frm-li .ico_danbattery::before{content:"" !important; background-image: url(../img/icon/danbattery.png) !important; background-size:20px}
/*배터리단선복구*/
.frm-li .ico_bokbattery::before{content:"" !important; background-image: url(../img/icon/bokbattery.png) !important; background-size:20px}
/*업데이트완료*/
.frm-li .ico_update::before{content:"" !important; background-image: url(../img/icon/update.png) !important; background-size:20px}
/*업데이트실패*/
.frm-li .ico_noupdate::before{content:"" !important; background-image: url(../img/icon/noupdate.png) !important; background-size:20px}





/*버튼설정*/

.btn_area{
	display:block;
	width:100%;
	margin-top:10px;
	text-align:center;

}

.src_btn {
    width: 140px;
    height: 35px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 3px;
    background: #1c2635;
    border: 1px solid #1c2635;
    letter-spacing: -1.5px;
}
.src_btn:hover{
    color: #1c2635;
    background: #fff;
    border: 1px solid #1c2635;
    letter-spacing: -1.5px;
	transition:0.5s;
}

.xflow_area{
	display:block;
	width:1500px;
}

.Datepicker{
    background-image: url(../img/ico_cal.jpg) ;
    background-position:right center ;
    background-repeat: no-repeat;
	padding-left:10px;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
    padding: 4px;
    height: auto;
	text-align:center !important;
}


.fixed_top {
  display:inline-table;
  position:absolute;
  top:0;
  width:calc(100% - 17px);
  background:#eef7ff;
}



.btns{
	min-width: 100px;
    padding: 6px 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
}

.btns-sm{
	min-width: 50px;
    padding: 7px 0;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    border-radius: 3px;
}


.add_btn{
	background: #1c2635;
}

.nega_btn{
	background: #fff;
    border: 1px solid #1c2635;
    color: #1a2d42 !important;
}


/*트리메뉴*/

.hide{display:none;}

#treemenu li.active>a{
	background:#1c2635 !important;
	color: #fff !important;
}
#treemenu li.on>a{
	background:#f3f3f3 !important;
	color: #333 !important;
}

 

#treemenu li a{
    width: 100%;
    display: inline-block;
    padding: 14px 15px;
    text-decoration: none;
    color: #333;
    font-size: 17px;
    background: #fff;
    white-space: nowrap;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}
#treemenu .top_line{
	border-top: solid 1px #f0f0f0;
}

.dep-1 li a:hover{
	background: #ddd !important;
	transition:0.3s linear;
}

.dep-2 li a{
	background: #d4d4d4 !important;
    color: #333 !important;
    padding-left: 30px !important;
    border-bottom: 1px solid #bbb !important;
    font-size: 15px !important;
    font-weight: 500;
}


.dep-2 li a:hover{
	background: #444 !important;
	color:#fff !important;
	transition:0.3s linear;
}

.dep-3 li a{
    background: #f3f3f3 !important;
    color: #333 !important;
    padding-left: 60px !important;
    font-weight: 400;
}

.dep-4 li a{
	background: #dcdcdc !important;
    padding-left: 90px !important;
    font-weight: 400;
}

.dep-5 li a{
	background: #f5f5f5 !important;
    padding-left: 100px !important;
	font-weight: 400;
}

.plus-ico{
	float:right;
	-o-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
}
.dep-2>.plus-ico{
	color:#fff;
}

.active{
	background:#111 !important;
}

.rotate>.plus-ico{
	-o-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
	-ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.menutit{font-weight:800;font-size:18px;}
.menu a{cursor:pointer;}


/*테이블 탭*/

.tab_area li{
    padding: 10px 25px;
    min-width: 100px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #1c2635;
    background: #fff;
    border-radius: 10px 10px 0 0;
    border: 1px solid #1c2635;
    float: left;
	cursor:pointer;
}
.tab_area li.on{
	color: #fff;
    background: #1c2635;
}



/*스위트얼럿 버튼색상변경*/

.swal-button:hover{
	background:#1c2635 !important;
	color:#fff;
}



/*스크롤테이블*/

#left_contents{
	overflow-x:hidden; 
	overflow-y:hidden;
}

#right_contents{
	height:100%; 
	overflow-x:scroll; 
	overflow-y:scroll;
}



.add_list{
	display:inline-block;
	margin-left: 5px;
}

.add_list li{
	margin-bottom: 5px;
	padding: 5px 0;
}

.add_list li:last-child{
	margin-bottom: 0;
}

.add_list02{
	display:inline-block;
	margin-left: 10px;
}

.add_list02 li{
    padding: 3px 5px;
    float: left;
    border: 1px solid #6c757d;
    border-radius: 6px;
    margin: 2px 7px 2px 0;
}
.add_list02 li:hover{
	background: #eee;
}

.add_list02 li:last-child{
	margin-right: 0;
}

.x_btn{
	position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
	cursor:pointer;
	margin-left:3px;
}

.x_btn2{
	margin-bottom: 5px;
}
.add_srcbtn{
	width: 100%;
    background: #fff;
    text-align: center;
    padding: 1px 0;
    margin-top: 5px;
    border: 1px solid #888;
    color: #888 !important;
}

.x_btn::before{
	content: url(../img/x_btn.png) !important;
	position: absolute;
    left: 5px;
}  

/**
 * 2020-07-30 yahan 
 */
.search_txt{
	margin-bottom:10px;
	background-image: url(../img/ico_search.png);
    background-position: right 5px center;
    background-repeat: no-repeat;
    padding-left: 10px;
}


p.caption{
	background: #1c2635;
    padding: 10px 20px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}



#modal_bg{
    background: #000;
    opacity: 0.5;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
}