@charset "UTF-8";
@import url(font.css);

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
body{font-family:'NotoSansKR','Malgun Gothic','맑은 고딕','돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;font-size:14px;font-weight:400;color:#222222;word-break:break-all;word-wrap:break-word;}
img,fieldset,iframe{border:0 none}
li{list-style:none} 
input,select,button{vertical-align:middle}
img{vertical-align:middle}
i,em,address{font-style:normal}
label,button{cursor:pointer;}
a{color:#000000;text-decoration:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;}
hr{display:none}
h1{font-weight:normal;}h2{font-weight:normal;}h3{font-weight:normal;}h4{font-weight:normal;}h5{font-weight:normal;}h6{font-weight:normal;}
legend,caption{overflow:hidden;width:0;height:0;font-size:0;line-height:0;text-indent:-9999px;}
pre{white-space:pre-wrap}
* {box-sizing:border-box;}

body, html{height:100%;}

input{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
input[type="text"],input[type="file"], input[type="number"], input[type="tel"], input[type="email"], input[type="password"],input[type="date"],input[type="time"]{font-family:'NotoSansKR';height:32px;padding:2px 10px;box-sizing:border-box;color:#2f2f2f;border:solid 1px #ddd;background-color:#fff;}
input[type="date"]::-webkit-calendar-picker-indicator {background: none;}
input[type="time"]::-webkit-calendar-picker-indicator {background: none;}
input[type="checkbox"]{vertical-align:middle;}
input[type="radio"]{vertical-align:middle;}
input[type="text"]::-webkit-input-placeholder,input[type="password"]::-webkit-input-placeholder{color:#666666;}
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder{color:#666666;}
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder{color:#666666;}
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder{color:#666666;}
input[type=file]::-ms-value{border:1px solid #eee;background-color:#fff;}
input[type=file]::-ms-browse{border:1px solid #eee;background-color:#7a7a7a;color:#fff;}
input[type="button"]{cursor:pointer;}
input[readonly]{background:#eee;border:1px solid #ddd ;box-shadow:none !important;}
input[readonly="readonly"]{background:#eee ;border:1px solid #ddd;box-shadow:none !important;}
input[type="text"]:disabled {background:#eee;border:1px solid #ddd;box-shadow:none !important;}
textarea[readonly],
textarea[disabled]{background:#eee;border:1px solid #ddd;box-shadow:none !important;}

input[type="checkbox"],input[type="radio"]{display: inline-block;}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="search"]
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus,
input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
.uneditable-input:focus { border-color: rgba(82, 168, 236, 0.8); outline: 0;
	-webkit-box-shadow:  0 2px 4px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow:  0 2px 4px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow:  0 2px 4px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);}

select{height:32px;box-sizing:border-box;color:#2f2f2f;border:solid 1px #ddd;background-color:#fff;vertical-align:middle;}
select::-ms-expand {display: none;}
textarea{appearance:none;-webkit-appearance:none;-moz-appearance:none;box-sizing:border-box;border:1px solid #ddd;resize:none;}
button{display:inline-block;padding:5px 10px;font-family:'NotoSansKR';font-size:14px;color:#666666;text-align:center;vertical-align:middle;cursor:pointer;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background:#fff;border:1px solid #ddd;}
button:focus{outline:0;}

.btn_default{display:inline-block;min-height:32px;padding:2px 15px;box-sizing:border-box;text-align:center;vertical-align:middle;color:#485057;font-size:12px;background-color:#fff;-webkit-transition: all 0.4s;transition: all 0.4s;}

.btnC{text-align:center;}
.btnL{text-align:left;}
.btnR{text-align:right;}
.btnAll{position:relative;text-align:center;z-index:1;}
.btnAll:after{content:"";display:block;clear:both;}
.btnAll .btnL{float:left;display:inline-block;z-index:2;}
.btnAll .btnR{float:right;display:inline-block;z-index:2;}

.btn_sm, a.btn_sm{min-width:auto;min-height:auto;padding:1px 5px;font-size:11px;}
.btn_mid, a.btn_mid{min-width:auto;min-height:auto;padding:3px 10px;font-size:12px;}
.btn_la, a.btn_la{padding:10px 25px;height:40px;line-height:1.4;font-size:14px;}

/* margin */
.all-mg0{margin:0 !important}.all-mg5{margin:5px !important}.all-mg10{margin:10px !important}.all-mg15{margin:15px !important}.all-mg20{margin:20px !important}.all-mg25{margin:25px !important}.all-mg30{margin:30px !important}.all-mg35{margin:35px !important}.all-mg40{margin:40px !important}.all-mg45{margin:45px !important}.all-mg50{margin:50px !important}.all-mg55{margin:55px !important}.all-mg60{margin:65px !important}.all-mg70{margin:70px !important}.all-mg75{margin:75px !important}.all-mg80{margin:80px !important}.all-mg85{margin:85px !important}.all-mg90{margin:90px !important}.all-mg95{margin:95px !important}.all-mg100{margin:100px !important}
.mt0{margin-top:0 !important}.mt5{margin-top:5px !important}.mt10{margin-top:10px !important}.mt15{margin-top:15px !important}.mt20{margin-top:20px !important}.mt25{margin-top:25px !important}.mt30{margin-top:30px !important}.mt35{margin-top:35px !important}.mt40{margin-top:40px !important}.mt45{margin-top:45px !important}.mt50{margin-top:50px !important}.mt55{margin-top:55px !important}.mt60{margin-top:65px !important}.mt70{margin-top:70px !important}.mt75{margin-top:75px !important}.mt80{margin-top:80px !important}.mt85{margin-top:85px !important}.mt90{margin-top:90px !important}.mt95{margin-top:95px !important}.mt100{margin-top:100px !important}
.mb0{margin-bottom:0 !important}.mb5{margin-bottom:5px !important}.mb10{margin-bottom:10px !important}.mb15{margin-bottom:15px !important}.mb20{margin-bottom:20px !important}.mb25{margin-bottom:25px !important}.mb30{margin-bottom:30px !important}.mb35{margin-bottom:35px !important}.mb40{margin-bottom:40px !important}.mb45{margin-bottom:45px !important}.mb50{margin-bottom:50px !important}.mb55{margin-bottom:55px !important}.mb60{margin-bottom:60px !important}.mb65{margin-bottom:65px !important}.mb70{margin-bottom:70px !important}.mb75{margin-bottom:75px !important}.mb80{margin-bottom:80px !important}.mb85{margin-bottom:85px !important}.mb90{margin-bottom:90px !important}.mb95{margin-bottom:95px !important}.mb100{margin-bottom:100px !important}
.ml0{margin-left:0 !important}.ml5{margin-left:5px !important}.ml10{margin-left:10px !important}.ml15{margin-left:15px !important}.ml20{margin-left:20px !important}.ml25{margin-left:25px !important}.ml30{margin-left:30px !important}.ml35{margin-left:35px !important}.ml40{margin-left:40px !important}.ml45{margin-left:45px !important}.ml50{margin-left:50px !important}.ml55{margin-left:55px !important}.ml60{margin-left:60px !important}.ml65{margin-left:65px !important}.ml70{margin-left:70px !important}.ml75{margin-left:75px !important}.ml80{margin-left:80px !important}.ml85{margin-left:85px !important}.ml90{margin-left:90px !important}.ml95{margin-left:95px !important}.ml100{margin-left:100px !important}.ml110{margin-left:110px !important}.ml120{margin-left:120px !important}.ml130{margin-left:130px !important}.ml140{margin-left:140px !important}.ml150{margin-left:150px !important}.ml160{margin-left:160px !important}.ml170{margin-left:170px !important}.ml180{margin-left:180px !important}.ml190{margin-left:190px !important}
.mr0{margin-right:0 !important}.mr5{margin-right:5px !important}.mr10{margin-right:10px !important}.mr15{margin-right:15px !important}.mr20{margin-right:20px !important}.mr25{margin-right:25px !important}.mr30{margin-right:30px !important}.mr35{margin-right:35px !important}.mr40{margin-right:40px !important}.mr45{margin-right:45px !important}.mr50{margin-right:50px !important}.mr55{margin-right:55px !important}.mr60{margin-right:60px !important}.mr65{margin-right:65px !important}.mr70{margin-right:70px !important}.mr75{margin-right:75px !important}.mr80{margin-right:80px !important}.mr85{margin-right:85px !important}.mr90{margin-right:90px !important}.mr95{margin-right:95px !important}.mr100{margin-right:100px !important}.ml110{margin-left:110px !important}.ml120{margin-left:120px !important}.ml130{margin-left:130px !important}.ml140{margin-left:140px !important}.ml150{margin-left:150px !important}.ml160{margin-left:160px !important}.ml170{margin-left:170px !important}.ml180{margin-left:180px !important}.ml190{margin-left:190px !important}

/* padding */
.all-pd0{padding:0 !important}.all-pd5{padding:5px !important}.all-pd10{padding:10px !important}.all-pd15{padding:15px !important}.all-pd20{padding:20px !important}.all-pd25{padding:25px !important}.all-pd30{padding:30px !important}.all-pd35{padding:35px !important}.all-pd40{padding:40px !important}.all-pd45{padding:45px !important}.all-pd50{padding:50px !important}.all-pd55{padding:55px !important}.all-pd60{padding:65px !important}.all-pd70{padding:70px !important}.all-pd75{padding:75px !important}.all-pd80{padding:80px !important}.all-pd85{padding:85px !important}.all-pd90{padding:90px !important}.all-pd95{padding:95px !important}.all-pd100{padding:100px !important}
.pt0{padding-top:0 !important}.pt5{padding-top:5px !important}.pt10{padding-top:10px !important}.pt15{padding-top:15px !important}.pt20{padding-top:20px !important}.pt25{padding-top:25px !important}.pt30{padding-top:30px !important}.pt35{padding-top:35px !important}.pt40{padding-top:40px !important}.pt45{padding-top:45px !important}.pt50{padding-top:50px !important}.pt55{padding-top:55px !important}.pt60{padding-top:65px !important}.pt70{padding-top:70px !important}.pt75{padding-top:75px !important}.pt80{padding-top:80px !important}.pt85{padding-top:85px !important}.pt90{padding-top:90px !important}.pt95{padding-top:95px !important}.pt100{padding-top:100px !important}
.pb0{padding-bottom:0 !important}.pb5{padding-bottom:5px !important}.pb10{padding-bottom:10px !important}.pb15{padding-bottom:15px !important}.pb20{padding-bottom:20px !important}.pb25{padding-bottom:25px !important}.pb30{padding-bottom:30px !important}.pb35{padding-bottom:35px !important}.pb40{padding-bottom:40px !important}.pb45{padding-bottom:45px !important}.pb50{padding-bottom:50px !important}.pb55{padding-bottom:55px !important}.pb60{padding-bottom:60px !important}.pb65{padding-bottom:65px !important}.pb70{padding-bottom:70px !important}.pb75{padding-bottom:75px !important}.pb80{padding-bottom:80px !important}.pb85{padding-bottom:85px !important}.pb90{padding-bottom:90px !important}.pb95{padding-bottom:95px !important}.pb100{padding-bottom:100px !important}
.pl0{padding-left:0 !important}.pl5{padding-left:5px !important}.pl10{padding-left:10px !important}.pl15{padding-left:15px !important}.pl20{padding-left:20px !important}.pl25{padding-left:25px !important}.pl30{padding-left:30px !important}.pl35{padding-left:35px !important}.pl40{padding-left:40px !important}.pl45{padding-left:45px !important}.pl50{padding-left:50px !important}.pl55{padding-left:55px !important}.pl60{padding-left:60px !important}.pl65{padding-left:65px !important}.pl70{padding-left:70px !important}.pl75{padding-left:75px !important}.pl80{padding-left:80px !important}.pl85{padding-left:85px !important}.pl90{padding-left:90px !important}.pl95{padding-left:95px !important}.pl100{padding-left:100px !important}
.pr0{padding-right:0 !important}.pr5{padding-right:5px !important}.pr10{padding-right:10px !important}.pr15{padding-right:15px !important}.pr20{padding-right:20px !important}.pr25{padding-right:25px !important}.pr30{padding-right:30px !important}.pr35{padding-right:35px !important}.pr40{padding-right:40px !important}.pr45{padding-right:45px !important}.pr50{padding-right:50px !important}.pr55{padding-right:55px !important}.pr60{padding-right:60px !important}.pr65{padding-right:65px !important}.pr70{padding-right:70px !important}.pr75{padding-right:75px !important}.pr80{padding-right:80px !important}.pr85{padding-right:85px !important}.pr90{padding-right:90px !important}.pr95{padding-right:95px !important}.pr100{padding-right:100px !important}

.tl{text-align:left !important;} 
.tc{text-align:center !important;} 
.tr{text-align:right !important;}

/* 공통 */
#skipnavigation{position:absolute;left:0;top:0;width:100%;text-align:center;z-index:9999}
#skipnavigation a{overflow:hidden;white-space:nowrap;display:block;width:100%;height:0}
#skipnavigation a:focus,#skipnavigation a:active{display:block;width:100%;height:36px;color:#fff;background:#000;line-height:36px;text-decoration:underline!important;font-size:14px}

.blind{overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;padding:0;clip:rect(0, 0, 0, 0);border:0;}

/* 레이아웃 */
#wrap{position:relative;width:100%;min-width:1400px;min-height: 100vh;background:#f3f3f9;}

/* header */
#header{position:absolute;width:100%;padding:10px;background:#fff;z-index:2;}
#header .inner{position:relative;width:100%;margin:0 auto;}
#header .utility{position:absolute;right:0;top:5px;display:flex;align-items:center;}
#header .utility .user{margin:0 5px 0 0;}
#header .utility .user .name{display:inline-block;margin:0 5px 0 0;font-weight:700;color:#417690;}
#header .utility .user .name i{margin-right:5px;color:#154570;}
#header .utility .btns button{border:none;font-size:13px;}

.gnb{position:absolute;top:60px;width:100%;z-index:2;border-bottom:1px solid #E6E6E6;box-shadow: 0 1px 2px rgba(56,65,74,.15);}
.gnb ul{display:flex;}
.gnb ul li{flex: 1;}
.gnb ul li a{display:block;text-align:center;padding:20px 0;color:#fff;background:#405189;}
.gnb ul li a:hover{color:#405189;background:#fff;}

/* container */
#container{position:relative;height:100%;max-width: 95%; margin: 0 auto;padding:120px 0 0 0;min-height: 100%;}
.sub_container .inner{position:relative;min-height: calc(100vh - 120px);padding:0 0 0 220px;}
.sub_container .inner:after{content:"";display:block;clear:both}

/* side_area */
.sub_container .side_area{position:absolute;left:0;top:20px;width:200px;height:calc(100% - 40px);;background:#405189;border-right:1px solid #E6E6E6;}

#lnb > ul > li{position:relative;}
#lnb > ul > li > a{display:block;width:100%;padding:10px;color:#fff;}
#lnb > ul > li.hasDepth > a:before{content:"";z-index:2;display:block;position:absolute;top:12px;right:15px;width:12px;height:12px;background:url(../img/chevron_down.png) no-repeat center center;}
#lnb > ul > li.hasDepth.on > a:before{transform: rotate( -180deg );}
#lnb > ul > li.on{background:#79aec8;}

#lnb ul ul{display:none;margin:0 auto;padding:7px 0 12px 0;border-top:1px solid #c5dce3;}
#lnb ul ul li a{display:block;width:100%;padding:5px 0 5px 20px;box-sizing:border-box;font-size:12px;color: #fff;}
#lnb ul ul li:hover,
#lnb ul ul li.on{}
#lnb ul ul li a:hover,
#lnb ul ul li.on a{color:#fff;font-weight:700;}

/* content_area */
.sub_container .content_area{position:relative;padding:20px 0 20px 0;}
.sub_container .location .page_title{position:relative;font-size:18px;font-weight:700;box-sizing:border-box;}
.sub_container .location{display:flex;align-items:center;position:relative;width:100%;margin:0 0 20px 0;padding:12px 20px;background:#ffffff;box-shadow: 0 1px 2px rgba(56,65,74,.15);}
.sub_container .location .local{margin-left:auto;font-size:12px;}
.sub_container .location .local span{display:inline-block;position:relative;padding:0 15px 0 15px;}
.sub_container .location .local span:before{content:"/";display:block;position:absolute;top:0px;right:0px;}
.sub_container .location .local span.home{padding-left:0;}
.sub_container .location .local span.current{font-weight:700;}
.sub_container .location .local span.current:before{content:normal;}

.sub_container .content{position:relative;}

/* footer */
#footer{display:none;position:relative;width:100%;background:#ffffff;}
#footer .inner{position:relative;width:1280px;margin:0 auto;padding:30px 0}

@media screen and (max-width: 1023px) {

} 