@charset "UTF-8";

@font-face {
 font-family: 'NotoSansKR';
 font-style: normal;
 font-weight: 100;
 src: local('Noto Sans Thin'), local('NotoSans-Thin'), url(./font/NotoSansKR-Thin.eot);
 src: url(./font/NotoSansKR-Thin.eot?#iefix) format('embedded-opentype'),
      url(./font/NotoSansKR-Thin.woff) format('woff'),
      url(./font/NotoSansKR-Thin.woff2) format('woff2');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans Light'), local('NotoSans-Light'), url(./font/NotoSansKR-Light.eot);
    src: url(./font/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
         url(./font/NotoSansKR-Light.woff) format('woff'),
         url(./font/NotoSansKR-Light.woff2) format('woff2');
 }
   
@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(./font/NNotoSansKR-Regular.eot);
    src: url(./font/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
         url(./font/NotoSansKR-Regular.woff) format('woff'),
         url(./font/NotoSansKR-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(./font/NotoSansKR-Medium.eot);
    src: url(./font/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
         url(./font/NotoSansKR-Medium.woff) format('woff'),
         url(./font/NotoSansKR-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'NotoSansKR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(./font/NotoSansKR-Bold.eot);
    src: url(./font/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
         url(./font/NotoSansKR-Bold.woff) format('woff'),
         url(./font/NotoSansKR-Bold.woff2) format('woff2');
}




